/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'ngx-toastr/toastr';
:root{
  --primary-color: #026467;
  --secondary-color: #e5f5ea;
  --body-text-color: #596392;
  --navbar-footer-color: #f9f9f9;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: var(--body-text-color);
}
.site-logo{
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.2em;
}
.ml-3 {
  margin-left: 0.75rem !important;
}
.ml-2 {
  margin-left: 0.50rem !important;
}
.shadow-effect{
  border: none;
  box-shadow: 0px 0px 33px -10px rgba(71,114,254,0.3);
}
.bg-theme{
  background-color: var(--primary-color) !important;
}
input[type=text],input[type=email]{
  height: 60px;
  padding-left: 20px;
  font-size: 13px;

}
.btn-theme{
  background-color: var(--primary-color) !important;
  border: none !important;
  font-size: 13px !important;
  height: 58px;
  width: 100%;
  color: var(--secondary-color) !important;
}
.bg-secondary-theme{
  background-color: var(--secondary-color);
}
.text-theme-primary{
  color: var(--primary-color);
}
